{% if index %}
	<header>
		<h2 class="title">
			{% if post.external-url %}
			<a href="{{ post.external-url }}">
			{% else %}
			<a href="{{ root_url }}{{ post.url }}">
			{% endif %}
				{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
		</h2>
		<div class="meta date">{% include post/date.html %}{{ time }}</div>
	</header>
	<div class="entry-content">
		{{ content | excerpt }}
		{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
		{% if excerpted == 'true' %}<a href="{{ root_url }}{{ post.url }}" class="more-link">{{ site.excerpt_link }}</a>{% endif %}
	</div>
{% else %}
	<header>
		<h2 class="title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h2>
		<div class="meta date">{% include post/date.html %}{{ time }}</div>
	</header>
	<div class="entry-content">{{ content }}</div>
	{% if site.disqus_short_name and site.disqus_show_comment_count == true %}
		<div class="meta">
			<span class="comments"><a href="{{ root_url }}{{ post.url }}{{ page.url }}#disqus_thread">Comments</a></span>
		</div>
	{% endif %}
{% endif %}
