<section>
  <h1>Hi. I'm Mark.'</h1>
  <p>
  	I'm a technologist, cellist, nerd, martial artist, and all-around good guy. I live and work in Manhattan Kansas, with my wife, Sibylle, two cats, a pair of seven-foot Kawai concert grand pianos, a violoncello, lots of computers, a 2010 Honda Insight EX, four bicycles, and lots of green growing things.

	Zanshin.net has been my personal web site since 1996. Here I post anything and everything. I also have a seldom updated Tumblr site, and share a site with Sibylle.
  </p>
</section>
