{% if site.flickr_userid %}
<section class="last odd">
<h1>My <span style="color: #0063dc;">Flick<span style="color: #ff0084;">r</h1>
<style type="text/css">
	#flickrList li{ text-align: left; display:inline; margin: 0 2px 0 2px; }
</style>
<ul id="flickrList"></ul>
<script lang="Javascript">
var flickrNickname = "{{ site.flickr_nickname }}";
function jsonFlickrApi(rsp) {
	if (rsp.stat != "ok"){
  		return;
 	}
 	var list = "";
 	for (var i=0; i < rsp.photos.photo.length; i++) {
  		var photo    = rsp.photos.photo[i];
  		var imgUrl   = 'http://farm'+ photo.farm +'.static.flickr.com/'+ photo.server +'/'+ photo.id +'_'+ photo.secret +'_s.jpg';
  		var photoUrl = 'http://www.flickr.com/photos/'+ flickrNickname +'/'+ photo.id;
  		list += '<li id="flickrItem_'+i+'"><a href="'+ photoUrl +'" title="'+ photo.title +'"><img alt="'+ photo.title +'" src="'+ imgUrl +'" /></a></li>';
 	}
 	document.getElementById('flickrList').innerHTML = list;
}
</script>
<script lang="Javascript" src="http://api.flickr.com/services/rest/?format=json&method=flickr.photos.search&user_id={{ site.flickr_userid }}&per_page={{ site.flickr_count }}&api_key={{ site.flickr_apikey }}"></script>
</section>
{% endif %}