@import "compass";
@include global-reset;
@include reset-html5;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "partials";
@import "custom/styles";


/* Mailing */
.cover-mailing-page{
  background-image: url(http://helabs.com.br/images/mailing-cover-bg.jpg);
  background-position: bottom center;
  margin-top:20px;
  border-radius: 5px;
}

.cover-mailing-page h2{
  padding:0px;
  margin:0px;
  color:#b80606;
  font-size:30px;
  text-transform:none;
  line-height:30px;
  margin-bottom:35px;
}

.mailing-form{
  padding:25px 0 0 10px;
}

.mailing-form p{
  margin-top:15px;
}

.mailing-form p a{
  font-size:11px;
  color:#666;
}

.mailing-form img{
  float:right;
  margin: 11px 60px 0 0;
}

.cover-mailing-page div.containner {
    background-image: url("/images/mailing-page-containner-bg.png");
    background-position: left center;
    background-repeat: no-repeat;
    height: 275px;
    width: 100%;
}

.cover-mailing-page div.containner input[type="text"],
.cover-mailing-page div.containner input[type="email"] {
    background: none repeat scroll 0 0 white;
    border: 1px solid #C7C7C7;
    border-radius: 6px 6px 6px 6px;
    float: left;
    font-size: 14px;
    margin: 0;
    padding: 0.7em;
    width: 70%;
}

.cover-mailing-page div.containner input[type="submit"] {
    background-color: #B80606;
    border: 0 none;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    margin: 0.2em 0.2em 0.2em 0.3em;
    padding: 8px;
    text-transform: uppercase;
}

.cover-mailing-page div.containner input[type="submit"]:hover{
  opacity:0.9;
}
