; This file is for unifying the coding style for different editors and IDEs.
; More information at http://EditorConfig.org

root = true

; Use 2 spaces for indentation in all Ruby files

[*.rb]
indent_style = space
indent_size = 2

[Rakefile]
indent_style = space
indent_size = 2

[Gemfile*]
indent_style = space
indent_size = 2

[config.ru]
indent_style = space
indent_size = 2
