.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
source.old
javascripts.old
source/_stash
source/stylesheets/*
#source/javascripts/*
source/images/icon-*.png
vendor
node_modules
