<section>
  <ul id="recent_posts">
      <li class="post">
      <a href="{{ site.url }}" alt="Home"><img src="{{ root_url }}/images/Home.png"></a>
      <a href="{{ site.url }}/archives/" alt="Archives"><img src="{{ root_url }}/images/Calendar.png"></a>
      <a href="mailto:{{ site.email }}" alt="E-Mail"><img src="{{ root_url }}/images/Envelope.png"></a>
      <a href="{{ site.url }}/atom.xml" alt="subscribe feed"><img src="{{ root_url }}/images/rss_big.png"></a>
      </li>
  </ul>
</section>
