.sharing {
  p.meta + & {
    padding: { top: 1em; left: 0; }
    background: $img-border top left repeat-x;
  }
}

.twitter-share-button { line-height: 1.2rem; vertical-align: top; }

.fb-like { line-height: 1.2rem; vertical-align: top; }
