{% if site.coderwall_user %}
<section>
  <h1>Coderwall</h1>
  <ul id="cw_badges">
    <li class="loading">Status updating...</li>
  </ul>

  <script type="text/javascript">
    var coderwall = (function(){
      function render(options, badges){
        var fragment = '', 
            t = $(options.target)[0],
            height = 65,
            width = 65,
            index;

        for (index in badges) {
          fragment += '<a class="cw_badge"title="' + badges[index].description + '" href="http://coderwall.com/' + options.user + '">';
          fragment +=   '<img alt="' + badges[index].description + '" height="' + width + '" width="' + height + '" src="' + badges[index].badge + '"/>';
          fragment += '</a>';
        }

        t.innerHTML = fragment;
      }
      return {
        showBadges: function(options){
          $.ajax({
              url: 'http://coderwall.com/' + options.user + '.json?callback=?'
            , type: 'jsonp'
            , error: function (err) { $(options.target + ' li.loading').addClass('error').text("Error loading feed"); }
            , success: function(res) {
                console.log(res.data.badges);
                render(options, res.data.badges);
            }
          });
        }
      };
    })();

    $.domReady(function(){
      if (!window.jXHR){
        var jxhr = document.createElement('script');
        jxhr.type = 'text/javascript';
        jxhr.src = '{{ root_url}}/javascripts/libs/jXHR.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(jxhr, s);
      }
      if (!window.$){
        var b = document.createElement('script');
        b.type = 'text/javascript';
        b.src = '{{ root_url}}/javascripts/ender.js';
        var sc = document.getElementsByTagName('script')[0];
        sc.parentNode.insertBefore(jxhr, s);
      }
      coderwall.showBadges({
        user: '{{site.coderwall_user}}',
        target: '#cw_badges'
      });
    });
  </script>
</section>
{% endif %}
