{% if site.github_user %}
<section>
  <h1>Github Repos</h1>
  <ul id="github">
    <li class="loading">Loading …</li>
  </ul>
  <script type="text/javascript">
    Octopress.loadAsync(
      '{{ root_url }}/javascripts/asides/github.js', 
      function() {
        Octopress.github({
            username:   '{{ site.github_user }}',
            count:      {{ site.github_repo_count }},
            skip_forks: {{ site.github_skip_forks }}
        });
      }
    );
  </script>

  {% if site.github_show_profile_link %}
  <a href="https://github.com/{{site.github_user}}">@{{site.github_user}}</a> on Github
  {% endif %}
</section>
{% endif %}
