{% if site.pinboard_user %}
<section>
  <h1>My Pinboard</h1>
  <ul id="pinboard">
    <li class="loading">Fetching linkroll …</li>
  </ul>
  <script>
    Octopress.loadAsync(
      '{{ root_url }}/javascripts/asides/pinboard.js',
      function() {
        Octopress.pinboard({
          username: '{{ site.pinboard_user }}',
          count:    '{{ site.pinboard_count }}'
        })
      }
    );
  </script>

  <p><a href="http://pinboard.in/u:{{ site.pinboard_user }}">My Pinboard Bookmarks &raquo;</a></p>
</section>
{% endif %}
