code,
kbd,
samp,
tt {
  color: inherit;
  background-color: rgba(#fff, .3);
  border: 1px solid rgba(#000, .1);
  font-family: "Source Code Pro", Inconsolata-dz, Inconsolata, Menlo, Monaco, Consolas, "Liberation Mono", Courier, monospace;
  border-radius: 3px;
  font-size: .85em;
  &:before, &:after {
    content: "\00a0";
    letter-spacing: -0.2em;
  }
}

pre code {
  &:before, &:after {
    content: none;
  }
  border: none;
  background-color: none;
  border-raidus: 0;
  font-size: inherit;
}

.highlight pre,
pre:not(.code-highlight-pre) {
  @include octopress-highlight-style;
  padding: 1em .8rem;
  border-radius: .4em;
  margin: 1.8em 0;
  @include octopress-solarized-code;
}

pre, pre code { 
  * { box-sizing: border-box; }
  font-size: 13px;
  font-family: "Source Code Pro", Inconsolata-dz, Inconsolata, Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
}
