---
layout: default
---

<div>
<article role="article">
  {% if page.title %}
  <header>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
  </header>
  {% endif %}
  {{ content }}
  {% unless page.footer == false %}
    <footer>
      <p class="meta">{% include post/meta.html %}{% include custom/page_meta.html %}</p>
      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}
    </footer>
  {% endunless %}
</article>
{% include custom/after_page.html %}
{% if page.comments == true %}{% include comments.html %}{% endif %}
</div>
{% unless page.sidebar == false or site.default_sidebar == false %}
<aside class="sidebar">
  {% if page.sidebar == nil or page.sidebar == 'collapse' %}
    {% include_sidebar site.page_sidebar %}
  {% else %}
    {% include_sidebar %}
  {% endif %}
</aside>
{% endunless %}
