---
layout: default
single: true
---

<div class="row">
  <div class="{% if page.sidebar == false %}span12{% else %}span8{% endif %}">
    {% include article.html %}
    <footer>
      <p class="meta">
        {% include post/author.html %}
        {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
        {% include post/categories.html %}
      </p>
      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}
      <p class="meta">
        {% if page.previous.url %}
          <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </p>
    </footer>
    
    {% if site.disqus_short_name and page.comments != false %}
      <section>
        <h1>Comments</h1>
        <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
      </section>
    {% endif %}
  </div>

  {% include sidebar.html %}
</div>

