.cw_badge {
  img {
    padding: 5px;
    border: 0 none !important;
       -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
         -o-box-shadow: none !important;
            box-shadow: none !important;
  }
}


