---
layout: default
---

<section class="main-wrap clearfix">
{% if page.isArchive %}

  {% if page.title %}
  <header>
    <h1 class="page-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
  </header>
  {% endif %}
  {{ content }}

{% else %}

  <article role="article">
    {% if page.title %}
    <header>
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
      {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
    </header>
    {% endif %}
    <div class="entry-content">{{ content }}</div>
  </article>
{% endif %}

{% if page.comments == true %}{% include sina-weibo-comments.html %}{% endif %}
</section>
