---
layout: default
---

<section class="main-wrap clearfix">
  <article role="article">
    {% include article.html %}
    <footer>
      <p class="meta neighbor clearfix">
        {% if page.previous.url %}
          <a href="{{ page.previous.url }}" class="float-left" title="Previous Post: {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a>
        {% endif %}
        {% if page.next.url %}
          <a href="{{ page.next.url }}" class="float-right" title="next Post: {{ page.next.title }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
      </p>
    </footer>
  </article>

{% if page.comments == true %}{% include sina-weibo-comments.html %}{% endif %}
</section>