$nav-height: 64 + 3*2px;

#header{
  height: $nav-height;
  padding: 50px 0;
  nav{
    font: 1.5em $font-title;
    line-height: $nav-height;
    ul{
      list-style: none;
      text-align: center;
      li{
        margin: 0 50px;
        display: inline-block;
      }
      a{
        color: #fff;
        opacity: 0.7;
        @include transition(0.3s);
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}