$color-background: #000;
$color-font: #333;
$color-meta: #999;
$color-border: #ccc;
$color-main01: rgb(157, 97, 207);
$color-main02: rgb(40, 20, 105);
$color-main03: rgb(0, 150, 240);
$color-main04: rgb(0, 26, 77);