$font-main: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
$font-title: "Pontano Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
$font-mono: Menlo, Monaco, Andale Mono, Lucida console, Courier New, monospace;
$font-serif: "Georgia", serif;

@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

$font-icon: FontAwesome;
$font-icon-path: "/font/fontawesome-webfont";

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$font-icon-path}.eot');
  src: url('#{$font-icon-path}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-icon-path}.woff') format('woff'),
    url('#{$font-icon-path}.ttf') format('truetype'),
    url('#{$font-icon-path}.svgz#FontAwesomeRegular') format('svg'),
    url('#{$font-icon-path}.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}