@mixin square($size){
  width: $size;
  height: $size;
}
@mixin center($width, $height){
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1/2 * $width;
  margin-top: -1/2 * $height;
}
@mixin hide-text{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@mixin user-select($prop){
  -moz-user-select: $prop;
  -khtml-user-select: $prop;
  -webkit-user-select: $prop;
  -o-user-select: $prop;
  user-select: $prop;
}