<!--Fonts from Google's Web font directory at http://google.com/webfonts -->
<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Caudex' rel='stylesheet' type='text/css'>

<!-- Meta -->
<meta name="description" content="The personal website of Mark Hanford Nichols." /> 
<meta name="keywords" content="programming, how-to, music, movies, books, cooking, travel, computers, nerds, cello, violoncello, videos" />

<!-- Mint -->
<script src="http://mint.zanshin.net/mint/?js" type="text/javascript" language="javascript"></script>
