<div class="containner">
  <h1><a class="back-to-home" href="/"><span>HE:labs</span></a></h1>
  <nav id="follow">
    <ul>
      <li><a href="{{root_url}}/atom.xml" title="Feed"><img src="{{root_url}}/images/feed.jpg"/></a></li>
      <li><a href="http://github.com/helabs" title="Github HE:labs" target="_blank"><img src="{{root_url}}/images/git.jpg"/></a></li>
      <li><a href="http://twitter.com/helabs" title="Twitter HE:labs"  target="_blank"><img src="{{root_url}}/images/twitter.jpg"/></a></li>
      <li><a href="http://www.facebook.com/HElabs" title="Facebook HE:labs" target="_blank"><img src="{{root_url}}/images/face.jpg"/></a></li>
    </ul>
  </nav>
</div>