---
layout: default
---

<section class="main-wrap clearfix">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}

  {% if paginator.next_page or paginator.previous_page %}
  <!-- Pagination -->
  <section class="pagination clearfix">
    {% if paginator.next_page %}<a class="prev float-left" href="{{paginator.next_page}}">&larr; Older</a>{% endif %}
    {% if paginator.previous_page %}<a class="next float-right" href="{{paginator.previous_page}}">Newer &rarr;</a>{% endif %}
  </section>
  {% endif %}
</section>
