<aside>
	<h3>Get the book</h3>
	<p>
		Sign up to pre-order <a href="{{ root_url }}/blog/2012/11/14/the-self-taught-developers-guide-to-getting-paid/">The Self-Taught Developer's Guide to Getting Paid</a>, receive a free chapter or two, and even a discount if you're good boys and girls.
	</p>
	<form accept-charset="UTF-8" action="https://sendicate.net/subscribe/3pbngc" method="post"> <label for="subscriber_name">Name</label> <input id="subscriber_name" name="subscriber[name]" type="text" /> <br /> <label for="subscriber_email">Email</label> <input id="subscriber_email" name="subscriber[email]" type="text" /> <br /> <input name="commit" type="submit" value="Subscribe" /> </form>
</aside>
