{% capture date %}{{ post.date }}{% endcapture %}
{% capture this_year %}{{ date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
	{% assign year = this_year %}
	{% unless forloop.first %}
		</section>
	{% endunless %}
	<section class="archives"><div class="year">{{ date | date: "%Y" }}</div>
{% endunless %}
<article class="archive">
	<h1 class="title"><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h1>
	<footer>
		<time datetime="{{ date | datetime | date_to_xmlschema }}">{{ date | date: "%b %e" }}</time>
		<div class="tags">{{ post.categories | category_links }}</div>
	</footer>
</article>