<header>
  {% if index %}
  <h1 class="title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
  {% else %}
  <h1 class="title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
  {% endif %}
  {% if post or page.single %}{% include post/date.html %}{% endif %}
</header>
<div class="entry-content">
  {% if index %}
    {{ content | excerpt }}
  {% else %}
    {{ content }}
    {% unless index %}
      {% include post/sharing.html %}
    {% endunless %}
  {% endif %}
  {% if post or page.single %}
  <footer class="meta">
    {% include post/categories.html %}
    {% if site.disqus_short_name and site.disqus_show_comment_count == true %}
      {% if post.comments == true %}
      <a class="comment" href="{{ root_url }}{{ post.url }}#disqus_thread">Comments</a>
      {% endif %}
      {% if page.comments == true %}
      <a class="comment" href="{{ root_url }}{{ page.url }}#disqus_thread">Comments</a>
      {% endif %}
    {% endif %}
  </footer>
  {% endif %}
</div>
{% include post/comment.html %}