<div class="subscribe">
  <table>
    <tr>
      <td><span>Get Updates: &nbsp;</span></td>
      <td><a href="#" onclick="window.open('http://feedburner.google.com/fb/a/mailverify?uri=brianarmstrong/vTOG','FeedBurner','menubar=no,width=600,height=600,toolbar=no'); return false;" class="btn"><i class="icon-envelope"></i> By Email</a></td>
      <td><a href="http://feeds.feedburner.com/brianarmstrong/vTOG" class="btn"><i class="icon-cog"></i> By RSS</a></td>
      <td><a href="http://twitter.com/brian_armstrong" class="btn"><i class="icon-twitter-sign"></i> On Twitter</a></td>
    </tr>
  </table>
</div>
<h1 class="title">{{ site.title }}</h1>
{% if site.subtitle %}
  <p class="lead">{{ site.subtitle }}</p>
{% endif %}