{% if site.twitter_follow_button or site.twitter_tweet_button %}
  <script src="{{ root_url }}/javascripts/twitter.js" type="text/javascript"> </script>
  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
    
    $(document).ready(function(){
      getTwitterFeed("{{site.twitter_user}}", {{site.twitter_tweet_count}}, {{site.twitter_show_replies}});
    });
  </script>
{% endif %}
