{% capture category %}{{ post.categories | size }}{% endcapture %}
<h1 itemprop="headline"><a href="{{ root_url }}{{ post.url }}" itemprop="url">{{post.title}}</a></h1>
<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate itemprop="datePublished">{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
{% if category != '0' %}
<footer>
  <span class="categories" itemprop="keywords">posted in {{ post.categories | category_links }}</span>
</footer>
{% endif %}
