{% unless page.no_header %}
  <header>
    {% include post/title.html %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
        {% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
         &bull; <a href="{% if index %}{{ permalink }}{% endif %}#disqus_thread">Comments</a>
        {% endif %}
         &bull; <a rel="bookmark" href="{{ permalink }}">{{ site.permalink_label }}</a>
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
{% if index and excerpted != 'false' %}
  <div class="entry-content">{{ content | excerpt }}</div>
  <footer>
    <a rel="full-article" href="{{ permalink }}">{{ site.excerpt_link }}</a>
  </footer>
{% else %}
  <div class="entry-content">{{ content }}</div>
{% endif %}
